
@{
    Layout = "~/Views/Shared/_MaterialThemeLoginLayout.cshtml";
    ViewData["Title"] = "ForgotPassword";
}

<div class="container-login100">
    <div class="wrap-login100">
        @using (Html.BeginForm("ForgotPassword", "Account", null, FormMethod.Post, true, new { @class = "login100-form validate-form" }))
        {
            <span class="login100-form-title p-b-26">
                QMS Forgot Password
            </span>
            <br />
            <br />

            <span style="color:red;text-align-last:center">
                @ViewBag.Message
            </span>
            <div class="wrap-input100 validate-input" data-validate="Enter valid Email">

                @Html.TextBox("Email", "", new { @class = "input100" })
                <span class="focus-input100" data-placeholder="Email"></span>
            </div>


            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="submit" class="login100-form-btn">
                        Submit
                    </button>
                </div>
            </div>
            <div class="text-center p-t-115">

                <a class="txt2" href="~/Account/Login">
                    Login
                </a> <br/> For TASL, TAML Employees <a class="txt2" href="https://resetpassword.taslaero.com/showLogin.cc"> Click Here</a>
            </div>

        }
    </div>
</div>
