@using CQSAirborne.Model
@model CQSAirborne.Model.Employee.ChangePasswordViewModel
@{
    ViewData["Title"] = "UnAuthorize";
    ViewData["PageHeader"] = "UnAuthorize";
    ViewData["CurrentPage"] = "UnAuthorize";
}

<div class="container-login100">
    <div style="background-color: #72dcea !important; padding: 11px; margin-top: 89px; border-radius: 5px; color: red; font-weight: bold;">
        You are not authorized to view this page.
    </div>
</div>
