<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - QMS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' ">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/logintheme/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/vendor/bootstrap/css/bootstrap.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logintheme/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/logintheme/css/main.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="~/logintheme/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logintheme/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logintheme/vendor/bootstrap/js/popper.js"></script>
    <script src="~/logintheme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logintheme/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logintheme/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/logintheme/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/logintheme/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

</head>
<body>

    <div class="limiter">
        @RenderBody()
    </div>


    <div id="dropDownSelect1"></div>
    <script src="~/logintheme/js/main.js"></script>
</body>
</html>