@{ 
    Layout = null;
}

<div class="popup">

    <div class="popup-inner" >
        <div class="popup-header">
            <a id="close-Popup" style="float:right;cursor:pointer"><i class="fa fa-close"></i></a>
        </div>
        <div id="inner-content" class="inner-content">

        </div>
        

    </div>

</div>